* {
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica';
}
header {
    border: 3px solid black;
    width: 65%;
    margin: 35px auto;
    text-align: center;
}
#resultList, form, #searchTerm{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
button {
    margin-top:15px;
    border: 2px solid black;
}
button h3 {
    padding: 0;
    margin: 5px;
}
button:hover{
    cursor: pointer;
    background: white;
}
form {
    text-align: center;
}
.hidden {
    display: none;
}
.links:hover {
    cursor: pointer;
    text-decoration: underline;
}
.links {
    text-decoration: none;
}
ul {
    list-style: none;
}